---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Mv from "../components/Mv.astro";
import About from "./_about.astro";
import Works from "./_works.astro";
import Blog from "./_blog.astro";
import FooterTop from "./_footerTop.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="wrap">

      <Header title={SITE_TITLE} />
      <main>
        <Mv />
        
        <About />
        <Works />
        <Blog/>
        <FooterTop />
      </main>
      <Footer />
      <div id="js-particles" class="particles"></div>

    </div>
  </body>
</html>

<style lang="scss">
  .wrap {
    background: #8ABED7;
  }
  .particles {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
</style>

<script>
  import { gsap } from "gsap";

  gsap.set('#js-particles', {
    scale: 0
  });
  window.addEventListener('load', () => {
    gsap.to("#js-particles", {
      scale: 1,
      duration: 1,
      ease: "ease-in-out",
    });
  });

  window.addEventListener('scroll', () => {
    const s = window.scrollY;
    const $_target = document.getElementById('js-particles');
    let moving = 1 + (s * 0.0003);

    if(moving > 1.3) {
      moving = 1.3;
    }
    
    if($_target) {
      $_target.style.scale = moving.toString();
    }
  });
</script>