---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Mv from "../components/Mv.astro";
import About from "./_about.astro";
import Works from "./_works.astro";
import Blog from "./_blog.astro";
import FooterTop from "./_footerTop.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="wrap">

      <Header title={SITE_TITLE} />
      <main>
        <Mv />
        
        <About />
        <Works />
        <Blog/>
        <FooterTop />
      </main>
      <Footer />
      <div id="js-particles" class="particles"></div>

    </div>
    <style lang="scss">
      .wrap {
        background: #8ABED7;
      }
      .particles {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
      }
    </style>
  </body>
</html>
