---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
</footer>
<div class="pagetop">
	<a href="#mv"><img src="/assets/images/pagetop.png" alt="TOPã¸"></a>
</div>

<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
