---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="g-menu">
  <div class="inner">
    <HeaderLink href="#mv">TOP</HeaderLink>
    <HeaderLink href="#about">ABOUT</HeaderLink>
    <HeaderLink href="#anchor-works">WORKS</HeaderLink>
    <HeaderLink href="#anchor-blog">NOTE</HeaderLink>
    <HeaderLink href="#footer-top">CONTACT</HeaderLink>
  </div>
</nav>
<style lang="scss">
  .g-menu {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 2rem 6rem;

    transition: 0.35s;
    &.hidden {
      translate: 0 -100%;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -5rem;

      border-style: solid;
      border-width: 0 5rem 7.1rem 0;
      border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
      height: 0;
      width: 0;
    }
    .inner {
      display: flex;
    }
  }
</style>

<script>
  const $_gMenu = document.getElementsByClassName("g-menu")[0];
  let preS: number;

  window.addEventListener("scroll", (e) => {
    let s = window.scrollY;
    if (!preS) {
      preS = s;
      return false;
    }
    if (s > preS) {
      $_gMenu.classList.add("hidden");
    } else {
      $_gMenu.classList.remove("hidden");
    }
    preS = s;
  });
</script>
