---
---

<h3 class="heading01 heading01-s">
  <slot></slot>
</h3>

<style lang="scss">
.heading01 {
  color: #99d3df;
  font-size: 3.6rem;
  font-family: "Russo One";
  line-height: 1;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;
  &.headingA-s {
    font-size: 2.4rem;
  }
}
</style>
